<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OAuth DEmo</title>
        <link rel="stylesheet" href="styles/home.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/auth/logout">Logout</a></li>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/">Homepage</a></li>
            </ul>
        </nav>
        <header>
            <h1>Login using google OAuth</h1>
            <h2>Homepage</h2>
        </header>
        <main>
            <p>Landing page...</p>
        </main>
    </body>
</html>